@use './colors';

.btn-projeto {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  font-family: "DM Sans", sans-serif;

  padding: 0.7em 2em;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;

  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
  text-decoration: none;

  transition: 0.5s ease all;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);

  font-size: 1rem;
  font-weight: 500;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.btn-projeto .icon {
  width: 1.2em;
  height: 1.2em;
  transition: transform 0.4s ease;
}

.btn-projeto:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-color: rgba(255, 255, 255, 0.2);
}

.btn-projeto:hover .icon {
  transform: translateX(5px);
}

.btn-projeto .text {
  display: inline-block;
}

.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 38px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 12px;
  font-weight: 600;
  color: white;
  box-shadow: 0 0 0 2px white;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: white;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #fff;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #fff;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px colors.$primary-normal;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}
