// Colors of project

// Brand-colors
$primary-normal: #F20C25;

// Neutral-colors
$black-dark: #060802;
$black-normal: #000000;
$black-light: #1A1C15;
$black-lighten: #2F3329;
$black-darken: #090F1D;

$white-darken: #CCD2C1;
$white-dark: #E8EDDF;
$white-normal: #EFEFEF;
$white-light: #FBFFF5;

// Gray Scale
$gray-1: #252626;
$gray-2: #353536;
$gray-3: #4C4C4D;
$gray-4: #646465;
$gray-5: #7C7C7D;
$gray-6: #949494;
$gray-7: #9EA0A3;


// Auxiliary colors
$red-normal: #F03D3D;
$red-dark: #d03333;
$red-light: #f05454;

$green-normal: #0BB07B;
$green-dark: #28bb49;
$green-light: #50e170;

$yellow-normal: #FFCE52;
$yellow-dark: #d9b043;
$yellow-light: #ffd76b;