@use './colors';
@use './layout';
@use './spacing';
@use './typography';

header {
    width: 100%;
    height: calc(100vh - 90vh);

    position: fixed;
    top: 0%;
    right: 50%;
    transform: translate(50%, 0%);
    z-index: 800;

    transition: .5s ease;

    @include typography.typeface-2(p2, desktop);
}

.active-header {
    background-color: #1a1a1a;
    
    margin-top: 24px;

    position: fixed;
    top: 0%;
    right: 50%;
    transform: translate(50%, 0%);
    z-index: 800;

    border-radius: 1000px;

    border-bottom: 2px solid #1a1a1a;

    width: 50%;

    @include layout.responsive(s) {
        width: 100%;
        margin-top: 0;
        border-radius: 0px;
    }
}

header.active-header .navbar-desktop {
    border-bottom: none;
}

.navbar-desktop {
    max-width: layout.$container-xl;
    height: 100%;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    @include layout.responsive(s) {
        display: none;
    }
}

.navbar-desktop a{
    text-decoration: none;
}

.navbar-desktop-item-1 {
    flex: 1 1 auto;

    height: 100%;
    padding-top: 5px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar-desktop-item-2 {
    flex: 3 1 auto;

    display: flex;
    align-items: center;
    justify-content: center;    

}

.navbar-desktop-item-3 {
    flex: 1 1 auto;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: 100%;

    .social {
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .social-list {
        list-style: none;

        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

}

.menu-desktop {
    list-style: none;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 56px;

    .menu-item {
        position: relative;
    }
}

.logo {
    z-index: 1000;
}

.nav-link-desktop {
    display: inline-block;
    padding: 12px 16px;
    color: white;
}

.nav-link-menu-dropdown {

    position: relative;

    &::after {
        content: "";

        position: absolute;
        top: 37%;
        right: -3px;

        width: 7px;
        height: 7px;

        transform: rotate(45deg);
        transition: .2s linear;
        border-radius: 1px;

        border-bottom: 2px solid colors.$white-normal;
        border-right: 2px solid colors.$white-normal;
    }

    &:hover {
        &::after {
            top: 40%;
        }
    }
}

.dropdown-menu {
    width: 400px;
    background-color: #151515;
    border-radius: 8px;

    list-style: none;

    padding: 16px 24px;

    position: absolute;
    top: 40px;
    left: 10px;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    opacity: 0;
    pointer-events: none;
    transition: .7s ease;

    .dropdown-item {
        width: 100%;
    }
}

.active-dropdown-menu {
    pointer-events: all;
    opacity: 1;
}

.nav-link-dropdown {
    display: inline-block;
    color: white;

    width: 100%;
    padding: 8px 16px;

    position: relative;

    &::after {
        content: "";

        position: absolute;
        top: 90%;
        left: 0;

        transition: .5s ease;

        width: 0%;
        height: 2px;

        background-color: #ffff;
    }

    &:hover {
        &::after {
            width: 100%;
        }
    }
}

//MOBILE MENU

.navbar-mobile {
    max-width: layout.$container-xl;
    margin: 0 auto;
    padding: 10px 24px;
    height: 100%;


    @include layout.responsive(s) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
    }

    @include layout.responsive(l) {
        display: none;
    }

    @include layout.responsive(xl) {
        display: none;
    }
}

.bx {
    width: 36px;
    height: 36px;

    position: relative;
    cursor: pointer;
    z-index: 1000;

    &::after {
        content: "";

        position: absolute;
        top: 40%;
        left: 17%;

        width: 70%;
        height: 2px;

        transition: .3s ease;

        background-color: colors.$white-normal;
    }

    &::before {
        content: "";

        position: absolute;
        top: 64%;
        left: 17%;

        width: 70%;
        height: 2px;

        transition: .3s ease;

        background-color: colors.$white-normal;
    }

}

.active-bx {
    width: 36px;
    height: 36px;

    position: relative;
    cursor: pointer;
    z-index: 1000;

    &::after {
        content: "";

        position: absolute;
        top: 50%;
        left: 17%;

        width: 70%;
        height: 2px;

        transition: .3s ease;

        background-color: colors.$primary-normal;

        transform: rotate(-135deg);
    }

    &::before {
        content: "";

        position: absolute;
        top: 50%;
        left: 17%;

        width: 70%;
        height: 2px;

        transition: .3s ease;

        background-color: colors.$primary-normal;

        transform: rotate(-45deg);
    }
}

.menu-mobile {
    width: 100%;
    height: 100vh;

    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
 

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;

    transform: translate3d(0, -100px, 0);
    transition: 1s ease;

}

.active-menu-mobile {
    opacity: 1;
    pointer-events: all;

    background-color: #151515;

}

.nav-list-mobile {
    max-width: layout.$container-xl;
    list-style: none;

    display: flex;
    flex-direction: column;
}

.nav-link-mobile {
    display: inline-block;
    
    color: colors.$primary-normal;
    @include typography.typeface-1(h3, desktop);

    padding: 16px 24px;
    position: relative;

    &::after {
        content: "";

        position: absolute;
        top: 90%;
        left: 16px;

        transition: .5s ease;

        width: 0%;
        height: 2px;

        background-color: colors.$primary-normal;
    }

    &:hover {
        &::after {
            width: 100%;
        }
    }
}

